<header id="header">
    Menu Planner
</header>

<body id="HomePage">
    <div>
        <nav>

            <a href="/" target="_self">
            <span>Home</span></a>
            <a href="/upload" target="_self">
            <span>Upload</span></a>
            <a href="/recipe" target="_self">
            <span>All Recipe</span></a>


            <div class="search">
                <form action="/search" method="POST">
                    <input type="text" name="searchTerm" class="searchTerm" placeholder="What are you looking for?">
                    <input name="withoutRedirect" value="false" style="display:none">
                    <input type="submit" value="Submit" style="display:none">
                </form>
            </div>

        </nav>
    </div>

    <div class="homepagetext">
        <p> This project is to guide users through the steps of cooking and display detailed ingredients what users need to prepare before cook. The purpose of the project is to help users easy to making food. We are focus the users who want to making food more easily and have a briefly recipe page of one dish. Moreover, users also able to upload their recipe to the cloud therefore the other users can download or search different dishes’ name. The benefits of the project is make life easier and save times. This project is based on webpage to display the datas from cloud and also had webpage to download the data ( recipe) from the cloud. </p>
    </div>

</body>


<div id="footer">
    <footer>
        <ul>
            <li>Click <a href="#top"><img src="https://png.icons8.com/north-direction/office/25" title="Go Top" ></a> to see
                the top of this page</li>
            <li>Please contact <a href="mailto:s3510520@student.rmit.edu.au.com">Yan</a> for more deatils</li>
        </ul>
    </footer>
</div>