<header id="header">
    Menu Planner
</header>

<body id="HomePage">
    <div>
        <nav>

            <a href="/" target="_self">
                <span>Home</span></a>
            <a href="/upload" target="_self">
                <span>Upload</span></a>
            <a href="/recipe" target="_self">
                <span>All Recipe</span></a>
            <a href="/login" target="_self">
                <span>Login</span></a>



            <div class="search">
                <form action="/search" method="POST">
                    <input type="text" name="searchTerm" class="searchTerm" placeholder="What are you looking for?">
                    <input name="withoutRedirect" value="false" style="display:none">
                    <input type="submit" value="Submit" style="display:none">
                </form>
            </div>

        </nav>
    </div>

    <div id="wpmem_reg"><a name="register"></a>
        <form name="form" method="post" action="/register" class="form">
            <fieldset>
                <legend>New User Registration</legend>
                <label for="user_login" class="text">Choose a Username<span class="req">*</span></label>
                <div class="div_text">
                    <input name="user_login" type="text" id="user_login" value="" class="textbox" required=""></div>
                <label for="user_email" class="text">Email<span class="req">*</span></label>
                <div class="div_text"><input name="user_email" type="email" id="user_email" value="" class="textbox" required=""></div>
                <label for="password" class="text">Password<span class="req">*</span></label>
                <div class="div_text"><input name="password" type="password" id="password" class="textbox" required=""></div>
                <label for="confirm_password" class="text">Confirm Password<span class="req">*</span></label>
                <div class="div_text"><input name="confirm_password" type="password" id="confirm_password" class="textbox" required=""></div>
                <input name="a" type="hidden" value="register"><input name="wpmem_reg_page" type="hidden" value="/register">
                <div class="button_div"><input name="submit" type="submit" value="Register" class="buttons"></div>
                <div class="req-text"><span class="req">*</span>Required field</div>
            </fieldset>
        </form>
    </div>
</body>


<div id="footer">
    <footer>
        <ul>
            <li>Click <a href="#top"><img src="https://png.icons8.com/north-direction/office/25" title="Go Top" ></a> to see
                the top of this page</li>
            <li>Please contact <a href="mailto:s3510520@student.rmit.edu.au.com">Yan</a> for more deatils</li>
        </ul>
    </footer>
</div>