<header id="header">
    Upload a recipe
</header>



<body id="HomePage">
    <div>
        <nav>
            <a href="/" target="_self">
            <span>Home</span></a>
            <a href="/upload" target="_self">
            <span>Upload</span></a>
            <a href="/recipe" target="_self">
            <span>Recipe</span></a>
            <a href="/result" target="_self">
                <span>Result</span></a>

            <div class="search">
                <form action="/search" method="POST">
                    <input type="text" name="searchTerm" class="searchTerm" placeholder="What are you looking for?">
                    <input name="withoutRedirect" value="true" style="display:none">
                </form>
            </div>
        </nav>
    </div>


    <form action="/recipe" method="POST">
        <div class="uploadform">
            <label><b>Title</b></label>
            <input type="text" placeholder="What is the name of your recipe" name="title" required>

            <label><b>Level</b></label>
            <select name="level" required>
                <option value="Easy">Easy</option>
                <option value="Moderate">Moderate</option>
                <option value="Hard">Hard</option>
            </select><br><br>

            <label><b>Yield</b></label>
            <select name="yield" required>
                <option value="1">1 serving</option>
                <option value="2">2 servings</option>
                <option value="3">3 servings</option>
                <option value="4">4 servings</option>
                <option value="5">5 servings</option>
                <option value="6">6 servings</option>
                <option value="7">7 servings</option>
                <option value="8">8 servings</option>
                <option value="9">9 servings</option>
                <option value="10">10 servings</option>
                <option value="11">11 servings</option>
                <option value="12">12 servings</option>
            </select><br><br>

            <label><b>Introduction</b></label>
            <input type="text" placeholder="Introduce your recipe" name="introduction" required>

            <label><b>Ingredients</b></label>
            <input type="text" type="text" placeholder="What ingredients are needed (separate with comma)" name="ingredients" required>

            <label><b>Directions</b></label>
            <textarea type="textarea" placeholder="Tell us how to make this recipe" name="direction" required></textarea>

            <br><br><label><b>Picture of the finished recipe: </b></label>
            <br><input type="file" name="avatar">

            <div class="clearform">
                <button onclick="clearInputs()" type="button" class="clearbtn">Clear</button>
                <button type="submit" class="uploadbtn">Upload</button>
            </div>

        </div>
    </form>
</body>


<div id="footer">
    <footer>
        <ul>
            <li>Click <a href="#top"><img src="https://png.icons8.com/north-direction/office/25" title="Go Top" ></a> to see
                the top of this page</li>
            <li>Please contact <a href="mailto:s3510520@student.rmit.edu.au.com">Yan</a> for more deatils</li>
        </ul>
    </footer>
</div>

<script>
    function clearInputs() {
        var inputs, index;
        inputs = document.getElementsByTagName('input', 'textarea');
        for (index = 0; index < inputs.length; ++index) {
            inputs[index].value = '';
        }
    }

</script>