#floatAlertDiv{
	display: none;
	position:fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
    font-weight: 600;
    padding: 20px 60px;
    border-radius: 8px;
    text-align: center;
}

.alert-error{
    background:pink;
    border: 1px red;
    color: darkred;
}

.alert-ok{
    background:lightcyan;
    border: 1px cyan solid;
    color: deeppink;    
}